{
  "openapi": "3.0.3",
  "info": {
    "title": "RekanPay API",
    "version": "1.0.0",
    "description": "Dokumentasi lengkap untuk API RekanPay termasuk endpoint akun dan transaksi."
  },
  "servers": [
    {
      "url": "https://api.rekanpay.id",
      "description": "Production"
    },
    {
      "url": "http://127.0.0.1:9011",
      "description": "Local development"
    }
  ],
  "paths": {
    "/v1/akun": {
      "post": {
        "summary": "Mendapatkan data akun merchant",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "merchant_id",
                  "signature"
                ],
                "properties": {
                  "merchant_id": {
                    "type": "string"
                  },
                  "signature": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data akun berhasil diambil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseAkun"
                }
              }
            }
          },
          "400": {
            "description": "Permintaan tidak valid"
          }
        }
      }
    },
    "/v1/transaksi": {
      "post": {
        "summary": "Membuat transaksi pembayaran",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "merchant_id",
                  "kode_channel",
                  "nominal",
                  "reff_id",
                  "redirect_url",
                  "signature",
                  "expired",
                  "customer_name",
                  "customer_email",
                  "customer_phone",
                  "tipe"
                ],
                "properties": {
                  "merchant_id": {
                    "type": "string"
                  },
                  "kode_channel": {
                    "type": "string",
                    "example": "QRIS"
                  },
                  "nominal": {
                    "type": "integer",
                    "example": 10000
                  },
                  "reff_id": {
                    "type": "string"
                  },
                  "redirect_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "signature": {
                    "type": "string"
                  },
                  "expired": {
                    "type": "integer",
                    "example": 0
                  },
                  "customer_name": {
                    "type": "string"
                  },
                  "customer_email": {
                    "type": "string",
                    "format": "email"
                  },
                  "customer_phone": {
                    "type": "string"
                  },
                  "tipe": {
                    "type": "string",
                    "enum": [
                      "va",
                      "pay_link",
                      "qris",
                      "web_pay"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaksi berhasil dibuat",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponseVA"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseEmoney"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseQRIS"
                    },
                    {
                      "$ref": "#/components/schemas/ResponseWebPay"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Permintaan tidak valid"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ResponseAkun": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 1
          },
          "data": {
            "type": "object",
            "properties": {
              "merchant_id": {
                "type": "string",
                "example": "MC723923J823989"
              },
              "merchant_name": {
                "type": "string",
                "example": "d"
              },
              "saldo": {
                "type": "integer",
                "example": 236056
              },
              "saldo_kliring": {
                "type": "integer",
                "example": 49120
              }
            }
          }
        }
      },
      "ResponseVA": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 1
          },
          "data": {
            "type": "object",
            "properties": {
              "nominal": {
                "type": "integer",
                "example": 10000
              },
              "status": {
                "type": "string",
                "example": "Pending"
              },
              "total_diterima": {
                "type": "integer",
                "example": 9796
              },
              "data": {
                "type": "string",
                "example": "463000012672"
              },
              "tipe": {
                "type": "string",
                "example": "va"
              }
            }
          }
        }
      },
      "ResponseEmoney": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 1
          },
          "data": {
            "type": "object",
            "properties": {
              "nominal": {
                "type": "integer",
                "example": 10000
              },
              "data": {
                "type": "string",
                "format": "uri"
              },
              "status": {
                "type": "string",
                "example": "Pending"
              },
              "tipe": {
                "type": "string",
                "example": "pay_link"
              },
              "total_diterima": {
                "type": "integer",
                "example": 9696
              }
            }
          }
        }
      },
      "ResponseQRIS": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 1
          },
          "data": {
            "type": "object",
            "properties": {
              "nominal": {
                "type": "integer",
                "example": 10000
              },
              "data": {
                "type": "string",
                "example": "00020101021226610016ID.SHOPEE..."
              },
              "status": {
                "type": "string",
                "example": "Pending"
              },
              "total_diterima": {
                "type": "integer",
                "example": 9880
              },
              "qr_link": {
                "type": "string",
                "example": ""
              },
              "tipe": {
                "type": "string",
                "example": "qris"
              }
            }
          }
        }
      },
      "ResponseWebPay": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 1
          },
          "data": {
            "type": "object",
            "properties": {
              "data": {
                "type": "string",
                "format": "uri",
                "example": "https://webpay.rekanpay.id/pay"
              },
              "tipe": {
                "type": "string",
                "example": "web_pay"
              }
            }
          }
        }
      }
    }
  }
}
